<main>
	<form class="example">
  		<input type="text" placeholder="Search.." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<div class="typePost" align="center">
		<span class="dot1"></span>
		<span> LOST </span>
		<span class="dot2"></span>
		<span> FIND </span>
		<span class="dot3"></span>
		<span> FOUND </span>
	</div>
	<div class="card-lost" >
		<img class ="img-post-lost" src="/images/catlost.jpg" style="margin: 15px; width: 200px;">
		<div class="post-lost-lost">
			<p class="post-name-lost">ชื่อโพสต์: ช่วยหลินปิงด้วยค่ะ ลีโอหายไป</p>
			<p class = "detail-lost">น้องชื่อลีโอ สีส้ม พันธุ์ไทย หายแถว ๆ กรีนแคนทีน รบกวนติดต่อหลินปิงทีนะคะ มีค่าตอบแทนเล็ก ๆ น้อย ๆ ให้ค่ะ ขอบคุณค่ะ
			</p>
		</div>			
		<div class = "post-detail-lost">
			<p>ผู้โพสต์ : หลินปิง แพนด้าน่ารัก</p>
			<p>สถานที่: ม.ธรรมศาสตร์ ศูนย์รังสิต</p>
			<p>โพสต์เมื่อ : 2016-02-02 14.00 PM</p>
		</div>
	</div>
</main>