<!-- CONTENT -->
<main class="site-main">
    <div align="center">
        <a style="color: red; font-weight: bold;"></a>
    </div>
    <h1 align="center">- SIGN UP -</h1>
    <div class="block-signup" align="center">
        <table>
            <tr>
                <td align="right"><label id="field">Name :</label></td>
                <td><input id="block_search" type="text" name="name" required='required'/></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label id="field">Surname :</label></td>
                <td><input id="block_search" type="text" name="surname" required='required'/></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label id="field">ID_card :</label></td>
                <td><input id="block_search" type="text" name="id_card" required='required' maxlength="13"/></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label id="field">Phone :</label></td>
                <td><input id="block_search" type="text" name="phone" required='required' maxlength="10"/></td>
                <td><a rel="tooltip" title="เช่น 0812345678"></i></a></td>
            </tr>
            <tr>
                <td align="right"><label id="field">Username :</label></td>
                <td><input id="block_search" type="text" name="username" required='required' maxlength="12"/></td>
                <td><a rel="tooltip" title="กรุณากรอก username ที่มีความยาว5-12ตัวอักษรและจะต้องเป็นตัวอักษรภาษาอังกฤษหรือตัวเลขเท่านั้น"></a></td>
            </tr>
            <tr>
                <td align="right"><label id="field">Password :</label></td>
                <td><input id="block_search" type="password" name="password" required='required' maxlength="8"/></td>
                <td><a rel="tooltip" title="กรุณากรอก password ที่มีความยาว6-8ตัวอักษรและจะต้องมีทั้งตัวเลขและตัวอักษรภาษาอังกฤษ"></a></td>
            </tr>
            <tr>
                <td align="right"><label id="field">Confirm Password :</label></td>
                <td><input id="block_search" type="password" name="c_password" required='required' maxlength="8"/></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><a>
                        <input class="w3-button w3-black w3-round-large" id="buttom_search" type="submit" name="login" value="Confirm"></a>
                    <a>
                        <input class="w3-button w3-black w3-round-large" type="reset" value="Reset"></a></td>
            </tr>
        </table>
    </div>
</main>
<!-- /CONTENT -->
