<main>
	<form class="example">
  		<input type="text" placeholder="Search.." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<div class="typePost" align="center">
		<span class="dot1"></span>
		<span> LOST </span>
		<span class="dot2"></span>
		<span> FIND </span>
		<span class="dot3"></span>
		<span> FOUND </span>
	</div>
	<div class="card-found" >
		<img class ="img-post-found" src="/images/chchch.jpg" style="margin: 15px; width: 200px;">
		<div class="post-found">
			<p class="post-name-found">ชื่อโพสต์: ตามหาบ้านให้ "น้องชิม ชอป ใช้" ค่ะ</p>
			<p class = "detail-found" style="font-size: 16px">น้องแมวมีสามตัวค่ะ น้องชิม น้องช็อป น้องใช้ แม่แมวเลี้ยงไม่ไหว รบกวนผู้ใจบุญรับน้องไปเลี้ยงหน่อยนะคะ
				ติดต่อที่มายได้เลยค่ะเบอร์ 032-252-1598 มาดูตัวน้องได้ที่หอซันต้านะคะ
			</p>
		</div>			
		<div class = "post-detail-found">
			<p>ผู้โพสต์ : น้องมายซ่า ซ่า ซ่า</p>
			<p>สถานที่: หอพักซันต้า</p>
			<p>โพสต์เมื่อ : 2019-10-01 00.00 AM</p>
		</div>
	</div>
</main>