<main>
%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Surname
      %th Id card
      %th Phone
      %th Username
      %th Password
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.surname
        %td= user.id_card
        %td= user.phone
        %td= user.username
        %td= user.password
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
</main>