<main>
	<form class="example">
  		<input type="text" placeholder="Search.." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<div class="typePost" align="center">
		<span class="dot1"></span>
		<span> LOST </span>
		<span class="dot2"></span>
		<span> FIND </span>
		<span class="dot3"></span>
		<span> FOUND </span>
	</div>
	<div class="card-find" >
		<img class ="img-post-find" src="/images/dogfind.jpg" style="margin: 15px; width: 200px;">
		<div class="post-find">
			<p class="post-name-find">ชื่อโพสต์: เจอน้องหมาครับ</p>
			<p class = "detail-find" style="font-size: 16px">บูมเจอน้องที่หอกลอฟวิวครับ ตามหาเจ้าของให้น้อง ติดต่อที่เบอร์ 032-123-2525
			</p>
		</div>			
		<div class = "post-detail-find">
			<p>ผู้โพสต์ : Kosy Sukbantearng</p>
			<p>สถานที่: หอพักกลอฟวิว ม.ธรรมศาสตร์ ศูนย์รังสิต</p>
			<p>โพสต์เมื่อ : 2019-05-02 5.00 AM</p>
		</div>
	</div>
</main>