<main>
	<form class="example">
  		<input type="text" placeholder="Search.." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<div class="typePost" align="center">
		<span class="dot1"></span>
		<span> LOST </span>
		<span class="dot2"></span>
		<span> FIND </span>
		<span class="dot3"></span>
		<span> FOUND </span>
	</div>
	<div class="card-lost" >
		<img class ="img-post-lost" src="/images/catlost.jpg" style="margin: 15px; width: 200px;">
		<div class="post-lost">
			<p class="post-name-lost">ชื่อโพสต์: ช่วยหลินปิงด้วยค่ะ ลีโอหายไป</p>
			<p class = "detail-lost" style="font-size: 16px">น้องชื่อลีโอ สีส้ม พันธุ์ไทย หายแถว ๆ กรีนแคนทีน รบกวนติดต่อหลินปิงทีนะคะ มีค่าตอบแทนเล็ก ๆ น้อย ๆ ให้ค่ะ ขอบคุณค่ะ
			</p>
		</div>			
		<div class = "post-detail-lost">
			<p>ผู้โพสต์ : หลินปิง แพนด้าน่ารัก</p>
			<p>สถานที่: ม.ธรรมศาสตร์ ศูนย์รังสิต</p>
			<p>โพสต์เมื่อ : 2016-02-02 14.00 PM</p>
		</div>
	</div>
	<div class="card-find" >
		<img class ="img-post-find" src="/images/dogfind.jpg" style="margin: 15px; width: 200px;">
		<div class="post-find">
			<p class="post-name-find">ชื่อโพสต์: เจอน้องหมาครับ</p>
			<p class = "detail-find" style="font-size: 16px">บูมเจอน้องที่หอกลอฟวิวครับ ตามหาเจ้าของให้น้อง ติดต่อที่เบอร์ 032-123-2525
			</p>
		</div>			
		<div class = "post-detail-find">
			<p>ผู้โพสต์ : Kosy Sukbantearng</p>
			<p>สถานที่: หอพักกลอฟวิว ม.ธรรมศาสตร์ ศูนย์รังสิต</p>
			<p>โพสต์เมื่อ : 2019-05-02 5.00 AM</p>
		</div>
	</div>
	<div class="card-found" >
		<img class ="img-post-found" src="/images/chchch.jpg" style="margin: 15px; width: 200px;">
		<div class="post-found">
			<p class="post-name-found">ชื่อโพสต์: ตามหาบ้านให้ "น้องชิม ชอป ใช้" ค่ะ</p>
			<p class = "detail-found" style="font-size: 16px">น้องแมวมีสามตัวค่ะ น้องชิม น้องช็อป น้องใช้ แม่แมวเลี้ยงไม่ไหว รบกวนผู้ใจบุญรับน้องไปเลี้ยงหน่อยนะคะ
				ติดต่อที่มายได้เลยค่ะเบอร์ 032-252-1598 มาดูตัวน้องได้ที่หอซันต้านะคะ
			</p>
		</div>			
		<div class = "post-detail-found">
			<p>ผู้โพสต์ : น้องมายซ่า ซ่า ซ่า</p>
			<p>สถานที่: หอพักซันต้า</p>
			<p>โพสต์เมื่อ : 2019-10-01 00.00 AM</p>
		</div>
	</div>
</main>