// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//card find
.card-find{
	display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-find post-find" "post-detail-find post-detail-find";
	margin: 10px 50px;
	border-style: solid;
  	border-color: black;
  	border: 1px solid black;
  	box-shadow: 5px 10px #888888;
}
.img-post-find { 
  grid-area: img-post-find; 
}
.post-find{ 
	grid-area: post-find;
}
.post-detail-find{ 
  grid-area: post-detail-find;
  margin: 0px;
  padding: 20px 40px;
  background-color: #58D68D;

}
.post-name-find{
	font-size: 25px; 
}
.detail-post-find{
	font-size: 20px; 
}
//card found
.card-found{
	display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-found post-found" "post-detail-found post-detail-found";
	margin: 10px 50px;
	border-style: solid;
  	border-color: black;
  	border: 1px solid black;
  	box-shadow: 5px 10px #888888;
}

.img-post-found { 
  grid-area: img-post-found; 
}

.post-found{ 
	grid-area: post-found;
}

.post-detail-found{ 
  grid-area: post-detail-found;
  margin: 0px;
  padding: 20px 40px;
  background-color: #F5B041;
}
.post-name-found{
	font-size: 25px; 
}
.detail-post-found{
	font-size: 20px; 
}
.post-detail-find p{
  font-size: 20px;
	margin: 4px;
}
.post-detail-found p{
  font-size: 20px;
	margin: 4px;
}