// Place all the styles related to the Lost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  margin-top: 20px;	
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  margin-top: 20px;	
  width: 20%;
  padding: 10px;
  background: #0B7E99;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #5BAEC1;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.dot1 {
  height: 25px;
  width: 25px;
  background-color: #EC7063;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: #58D68D;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: #F5B041;
  border-radius: 50%;
  display: inline-block;
}
.typePost span{
	font-size: 30px;
	margin: 20px 10px 0px;
}
.card-lost{
	  display: grid;
  	grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.3fr 0.7fr;
  	grid-template-areas: "img-post-lost post-lost" "post-detail-lost post-detail-lost";
	  margin: 10px 50px;
	  border-style: solid;
  	border-color: black;
  	border: 1px solid black;
  	box-shadow: 5px 10px #888888;
}
.img-post-lost { 
  grid-area: img-post-lost; 
}

.post-lost{ 
	grid-area: post-lost;
	font-size: 30px; 
}
.post-detail-lost{ 
  grid-area: post-detail-lost;
  margin: 0px;
  padding: 20px 40px;
  background-color: #EC7063;
}

.detail-lost{
  margin-right: 30px;
}
p.detail-lost{
  font-size: 20px !important;
}

p.post-name-lost{
  font-size: 25px;
}

.post-detail-lost p{
  font-size: 20px;
	margin: 4px;
}
main p{
  font-family: 'Itim', cursive;
}