// Place all the styles related to the Signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block-signup{
	font-size: 20px;
}

input[type=submit],input[type=reset]{
	margin-top: 5px;
	font-size: 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5%;
	padding: 5px;
	cursor: pointer;
}