// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.5fr;
  grid-template-rows: 0.5fr auto;
  grid-template-areas: "header header" "menu main";
  margin: auto;
  background-color: #DCDCDC;
  max-width: 1300px;
  min-width: 1300px;
}
body{
	font-family: 'Itim', cursive;
}
header {
	grid-area: header;
	background-color: black;
}

menu {
	margin : 0px;
	background-color: black;
	grid-area: menu; 
	padding-left: 0px;
}
.login{
	color: white;
	border-radius: 20px;
	margin: 20px 10px 0px 10px;
	padding: 10px 0px 20px 20px;
	background-color: #0B7E99;
}

main {
	grid-area: main;
	background-color: white;
}
.tab a .btn-home {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}
.btn-home{
	color: white;
}

.tab button:hover {
  background-color: #ddd;
  color: black;
}
.signup button:hover{
  background-color: #0B7E99;
  color: black;
}
.btn-login button{
	margin-top: 5px;
	font-size: 16px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5%;
	padding: 5px;
	cursor: pointer;
}
.signup{
	cursor: pointer;
	background-color: inherit;
	border: none;
    outline: none;
    color: white !important;
    font-size: 16px;
    text-decoration: none;
}