<head>
  <title>Lost Find Found Cat & Dog </title>
  <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="grid-container">
    <header>
        <img style="width: 100%;" src="/images/banner03.jpg" height="270px"/>
        <div class="tab" style="float: right;">
            <a class="btn-home">
                <img style="margin-right: 10px;" src="/images/home-icon-silhouette.png" height="20" width="20">
                <%= link_to "HOME", root_path,class: "btnTap" %>
            </a>
            <a class="btn-lost">
                <img style="margin-right: 10px;" src="/images/wanted.png" height="20" width="20">
                <%= link_to "LOST", lost_lost_path,class: "btnTap" %>
            </a>
            <a class="btn-find">
                <img style="margin-right: 10px;" src="/images/find.png" height="20" width="20">
                <%= link_to "FIND", find_find_path,class: "btnTap" %>
            </a>
            <a class="btn-found">
                <img style="margin-right: 10px;" src="/images/pawprint.png" height="20" width="20">
                <%= link_to "FOUND", found_found_path,class: "btnTap" %>
            </a>      
            <a class="btn-about">                   
                    <img style="margin-right: 10px;" src="/images/information.png" height="20" width="20">
                    <%= link_to "ABOUT", about_about_path,class: "btnTap" %>
            </a>
        </div>
    </header>