<menu>
    	<div class="login">
    		<div style="padding-top: 15px">
    			<img src="/images/dog.png" height="42" width="42">
    			<img src="/images/cat.png" height="42" width="42">
    		</div>
    		<h1> Login </h1>
    		<div style="padding-bottom: 5px">
    		<img src="/images/user.png" height="" width="">
    		<label>
    			Username:
    		</label>
    	</div>
    	<div style="padding-bottom: 5px">
    		<input type="text" name = "username">
    	</div>
    	<div style="padding-bottom: 5px">
    		<img src="/images/lock.png" height="" width="">
    		<label>
    			Password:
    		</label>
    	</div>
    	<div style="padding-bottom: 5px">
    		<input type="text" name = "password">
    	</div>
    	<div class="">
    		<a class= "btn-login" href="profile/profile"><button type="button">Login</button></a>
    		<a class= "signup"><%= link_to "Sign up ?", new_user_path,class: "signup" %></a>
    	</div>
    	</div>	
</menu>